<div >
<h1>Ingrese la cantidad que decea retirar</h1>
<form #CajeroForm="ngForm" (ngSubmit)="retirarDinero()">
    <input type="number" name="cantidadRetirarS" [(ngModel)]="cantidadRetirar" pattern="[0-9]+">
   <!-- <input type="submit" placeholder="Enviar" >-->
    <button type="submit" mat-button color="primary">Enviar</button>
</form>



<div>
    <button mat-stroked-button color="warn" (click)="closeBoton(false)">Ok!</button>
</div>

<div *ngIf="title" style="position: absolute;">
    {{title}}
    
    <div *ngIf="primtfValores" >
        Billetes dados
        <ul *ngFor="let item of primtfValores">
            <li>{{item}}</li>
        </ul>

    </div>
</div>

</div>